In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.feature_selection import VarianceThreshold

/var/folders/3l/5v7rvfhn4sn35nr7f47zf2kr0000gn/T/ipykernel_70567/60353912.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
#df = pd.read_csv('Dataset_to_clean.csv', converters={"sorted_prices": lambda x: x.strip("[]").split(", ")})
df = pd.read_csv('Dataset_to_clean.csv')
df["sorted_prices"] = df["sorted_prices"].fillna("[]").apply(lambda x: eval(x))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    147 non-null    object
 1   city                  147 non-null    object
 2   type                  147 non-null    object
 3   squareMeters          147 non-null    float64
 4   rooms                 147 non-null    float64
 5   floor                 147 non-null    float64
 6   floorCount            147 non-null    float64
 7   buildYear             147 non-null    float64
 8   latitude              147 non-null    float64
 9   longitude             147 non-null    float64
 10  centreDistance        147 non-null    float64
 11  poiCount              147 non-null    float64
 12  schoolDistance        147 non-null    float64
 13  clinicDistance        147 non-null    float64
 14  postOfficeDistance    147 non-null    float64
 15  kindergartenDistance  147 non-null    float64
 16  restaurantDistance    147 non-null    float64
 17  collegeDistance       147 non-null    float64
 18  pharmacyDistance      147 non-null    float64
 19  ownership             147 non-null    object
 20  buildingMaterial      147 non-null    object
 21  condition             147 non-null    object
 22  hasParkingSpace       147 non-null    object
 23  hasBalcony            147 non-null    object
 24  hasElevator           147 non-null    object
 25  hasSecurity           147 non-null    object
 26  hasStorageRoom        147 non-null    object
 27  sorted_prices         147 non-null    object
dtypes: float64(16), object(12)
memory usage: 32.3+ KB

In [14]:
df.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,sorted_prices
0,bac1869ad9c2c1ef444b0ba6d225761a,szczecin,tenement,77.71,3.0,3.0,3.0,1925.0,53.433019,14.569775,...,0.430,condominium,brick,low,no,no,no,no,yes,"[550000, 550000, 550000, 650000, 599000, 59900..."
1,fb10546822255a8bd8d52448ce0ae265,szczecin,tenement,78.60,3.0,2.0,4.0,1929.0,53.432833,14.548187,...,0.089,condominium,brick,premium,no,no,no,no,yes,"[440000, 440000, 440000, 440000, 440000, 44000..."
2,504193ed8e736e687f64d7ba05449972,szczecin,tenement,100.00,3.0,4.0,4.0,1930.0,53.436494,14.572026,...,0.191,condominium,brick,premium,yes,no,no,no,yes,"[799000, 799000, 739000, 739000, 739000, 73900..."
3,bde946f27b37a2dc9219075cb954f929,szczecin,blockOfFlats,96.06,4.0,3.0,3.0,2009.0,53.465600,14.541539,...,0.366,condominium,brick,premium,no,yes,no,no,no,"[768000, 768000, 799000, 799000, 799000, 79900..."
4,c5c9f8850f6ed88e3009a8f251b4edce,szczecin,tenement,42.57,2.0,1.0,1.0,1938.0,53.495690,14.584651,...,0.033,condominium,brick,premium,yes,no,no,no,yes,"[389000, 389000, 379000, 379000, 379000, 37900..."

In [17]:
(df.iloc[0]['sorted_prices'][0])

550000

In [18]:
#drop observations
df = df.dropna()

#convert to numerical data
df['condition'] = df['condition'].map({'low': 0, 'premium': 1})
df['type'] = df['type'].map({'apartmentBuilding': 1, 'blockOfFlats': 2, 'tenement': 3})
for col in ['hasParkingSpace', 'hasBalcony', 'hasElevator', 'hasSecurity', 'hasStorageRoom']:
    df[col] = df[col].map({'no': 0, 'yes': 1})

for col in ['hasParkingSpace', 'hasBalcony', 'hasElevator', 'hasSecurity', 'hasStorageRoom', 'condition', 'type']:
    df[col] = df[col].astype(np.int8)

#drop features
toDrop = ['id', 'ownership'] #buildMaterial, city
df = df.drop(toDrop, axis=1)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city                  147 non-null    object
 1   type                  147 non-null    int8
 2   squareMeters          147 non-null    float64
 3   rooms                 147 non-null    float64
 4   floor                 147 non-null    float64
 5   floorCount            147 non-null    float64
 6   buildYear             147 non-null    float64
 7   latitude              147 non-null    float64
 8   longitude             147 non-null    float64
 9   centreDistance        147 non-null    float64
 10  poiCount              147 non-null    float64
 11  schoolDistance        147 non-null    float64
 12  clinicDistance        147 non-null    float64
 13  postOfficeDistance    147 non-null    float64
 14  kindergartenDistance  147 non-null    float64
 15  restaurantDistance    147 non-null    float64
 16  collegeDistance       147 non-null    float64
 17  pharmacyDistance      147 non-null    float64
 18  buildingMaterial      147 non-null    object
 19  condition             147 non-null    int8
 20  hasParkingSpace       147 non-null    int8
 21  hasBalcony            147 non-null    int8
 22  hasElevator           147 non-null    int8
 23  hasSecurity           147 non-null    int8
 24  hasStorageRoom        147 non-null    int8
 25  sorted_prices         147 non-null    object
dtypes: float64(16), int8(7), object(3)
memory usage: 23.0+ KB

In [20]:
df.head()

,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,...,collegeDistance,pharmacyDistance,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,sorted_prices
0,szczecin,3,77.71,3.0,3.0,3.0,1925.0,53.433019,14.569775,1.22,...,0.675,0.430,brick,0,0,0,0,0,1,"[550000, 550000, 550000, 650000, 599000, 59900..."
1,szczecin,3,78.60,3.0,2.0,4.0,1929.0,53.432833,14.548187,1.35,...,0.492,0.089,brick,1,0,0,0,0,1,"[440000, 440000, 440000, 440000, 440000, 44000..."
2,szczecin,3,100.00,3.0,4.0,4.0,1930.0,53.436494,14.572026,1.63,...,1.050,0.191,brick,1,1,0,0,0,1,"[799000, 799000, 739000, 739000, 739000, 73900..."
3,szczecin,2,96.06,4.0,3.0,3.0,2009.0,53.465600,14.541539,4.87,...,2.465,0.366,brick,1,0,1,0,0,0,"[768000, 768000, 799000, 799000, 799000, 79900..."
4,szczecin,3,42.57,2.0,1.0,1.0,1938.0,53.495690,14.584651,8.19,...,3.693,0.033,brick,1,1,0,0,0,1,"[389000, 389000, 379000, 379000, 379000, 37900..."

In [ ]:
#drop low variance features
sel = VarianceThreshold(threshold=.05)
#need all to be numerical data
sel.fit(df/df.mean())
mask = sel.get_support() 
#Still need longtude, latitude, and buildYear
df_dropped_low_variance = df.loc[:, mask]

In [24]:
df.to_csv('Cleaned_Apartments.csv', index=False)